extends layout

block itemsList
    form(data-bind="submit: doQuery")
        label(style="z-index:15; position: absolute; left: 0; top: 0;", data-bind="text: queryString")
        input#query(data-bind="value:queryString, valueUpdate: 'input'", placeholder="Enter a Query String")
    div.items
        div.body
            div(data-bind="foreach: getItems()")
                ul.item(data-bind="attr: {'id': 'item-'+$data.id}, foreach: $root.headers, css: ($data.fill == 'red') ? ' slot-red' : ($data.fill == 'yellow') ? 'slot-yellow' : ''")
                    <!-- ko if: $data.title !== 'more' && $data.title !== 'statusBubble' -->
                    li(data-bind="css: $data.title, style: $data.style, text: $root.render( $parent[$data.title] )")
                    <!-- /ko -->
                    <!-- ko if: $data.title == 'statusBubble' -->
                    li(data-bind="css: $data.title + ' ' + 'bubble-' + $root.renderBubble( $parent ) , style: $data.style")
                    <!-- /ko -->
                    <!-- ko if: $data.title == 'more' -->
                    li.more(data-bind="style: $data.style, click: $root.toggleDetails( $parent )")= '+'
                    <!-- /ko -->

            div.noitems(data-bind="if: !$root.getItems()")= "Uh oh!  There's nothing here."


block menu
    div#navbar
        ul(data-bind="foreach: menuData")
            li
                a(data-bind="attr: {href:url}, html: title")

block context
    div#context(data-bind="html: renderContext()")