doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
  body
    block itemsList

    block menu

    block context

    block js
        script(src='http://localhost:35729/livereload.js')
        script(src='/components/jquery/dist/jquery.min.js')
        script(src='/components/knockout/dist/knockout.js')
        script(src="/js/items.js")