.items
  width:65%;
  min-width:600px;
  height:100%;
  position: absolute;
  right: 20px;
  top: 50px;
  box-sizing: border-box;

  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  transition:all ease-in-out .3s;

  div.body
    display: inline-block;
    position: relative;
    min-width: 100%;
    height: 100%;
    background-color: lighten(rgb(200,200,200),30%);

    div.noitems
      position: relative;
      height: 100%;
      margin: 0 auto;
      font-size: 4rem;
      left: 20%;
      top: 50%;
      color: lighten(rgb(0,0,0),70%);

    ul.item
      list-style: none;

      position:relative;
      left:0;
      right: 0;
      top:0;
      bottom:40px;

      max-height:35px;

      border: 1px solid #CCC;

      transition: all ease-out 0.3s;


      margin: 0;
      padding: 10px;

      li
          max-height: 35px;
          padding: 10px 0;
          vertical-align: middle;
          display: inline-block;
          height:35px;

          border: 1px solid #CCC;

          transition: all ease-out 0.3s;

          &.status-in
            background-color: white;


          &.status-out
            background-color: lighten(rgb(45,45, 192),45%);


          &.status-warning
            background-color: lighten(yellow,40%);


          &.status-error
            background-color: lighten(red,40%);


          &.more
            text-align:center;
            transition: all ease-in-out 0.2s;
            color: rgba(0,0,0,0.35);
            border: none;


          &.model
            font-size: larger;
            padding-top: 7px;
            min-width:20%;
            font-weight:bold;
            border: none;


          &.manufacturer
            color: rgba(0,0,0,0.45);
            min-width:20%;
            border: none;


          &.serial
            text-transform: uppercase;
            border: none;


          &.serial::before
            color: rgba(0,0,0,0.4);
            content:'S/N:  '
            border: none;


          &.statusbubbles
            display:inline;
            border: none;

          svg
            width:30px;



      .loading-text
        text-align:center;
        padding-top:200px;
        font-weight:bold;
        color: rgba(0,0,0,0.2);
        font-size:6rem;
        vertical-align:middle;
        -webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        transition:all ease-in-out .3s;

        opacity: 1;

      .item-details
        opacity: 1;
        -webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        transition:all ease-in-out .3s;


    list-style: none;

.item
  background-color: #DDD;


.menu-open
  height: 600px;
  max-height: 600px;
  min-height: 600px;

  -moz-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;

  .more
    width:50px;
    height:50px;
    color: black;
    opacity: 1;
    visibility: visible;
    z-index: 20;


.icon-menu3
  width: 1.375em;


.icon-menu4
  width: 1.375em;

.more::before
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.3);


.hidden
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;

.slot-red
  background: lighten(#d39292, 40%); /* Old browsers */
.slot-yellow
  background: lighten(#C8C97A,40%);


.bubble-red
  background: #ff1919; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #ff1919 0%, #8c3310 75%, #bf6e4e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff1919), color-stop(75%,#8c3310), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #ff1919 0%,#8c3310 75%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #ff1919 0%,#8c3310 75%,#bf6e4e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #ff1919 0%,#8c3310 75%,#bf6e4e 100%); /* IE10+ */
  background: linear-gradient(135deg,  #ff1919 0%,#8c3310 75%,#bf6e4e 100%); /* W3C */


.bubble-green
  background: #14ce1d; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #14ce1d 0%, #0f600b 75%, #6fa06e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#14ce1d), color-stop(75%,#0f600b), color-stop(100%,#6fa06e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #14ce1d 0%,#0f600b 75%,#6fa06e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #14ce1d 0%,#0f600b 75%,#6fa06e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #14ce1d 0%,#0f600b 75%,#6fa06e 100%); /* IE10+ */
  background: linear-gradient(135deg,  #14ce1d 0%,#0f600b 75%,#6fa06e 100%); /* W3C */


.bubble-yellow
  background: #b6cc14; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #b6cc14 0%, #92932d 75%, #b2b77e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b6cc14), color-stop(75%,#92932d), color-stop(100%,#b2b77e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #b6cc14 0%,#92932d 75%,#b2b77e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #b6cc14 0%,#92932d 75%,#b2b77e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #b6cc14 0%,#92932d 75%,#b2b77e 100%); /* IE10+ */
  background: linear-gradient(135deg,  #b6cc14 0%,#92932d 75%,#b2b77e 100%); /* W3C */

