#query
    width: 65%;
    min-width:600px;
    height: 30px;
    padding-left: 10px;
    position: absolute;
    box-sizing: border-box;
    right: 20px;
    top:20px;
    z-index 10;

#query+button
    position: absolute;
    right: 20px;
    top:20px;
    height:30px;
    width:60px;
    z-index:12;
    background-color: #CCC
    border: 1px solid #AAA;
    box-shadow: 1px 1px 1px 1px #CCC;


#navbar
    min-width: 200px;
    width:30%;
    min-height: 200px;
    position:absolute;
    top:20px;
    left: 35px;
    background-color: lightblue;
    display: inline-block;

#context
    min-width: 200px;
    width: 30%;
    min-height: 600px;
    position: absolute;
    left: 30px;
    top: 250px;
    background-color: mediumpurple;
    display: inline-block;